@page
@model SistemaGestiónConstructora.Pages.ClientesModel
@{
}
<main>
    <select data-mdb-select-init multiple>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        <option value="4">Four</option>
        <option value="5">Five</option>
        <option value="6">Six</option>
        <option value="7">Seven</option>
        <option value="8">Eight</option>
    </select>
    <label class="form-label select-label">Example label</label>
</main>
